<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!-- Header section -->
<%- include("partials/header") %>
    <!-- Navigation -->
    <%- include("partials/nav") %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
           <!-- Blog Entries Column -->
            <div class="col-md-8">
             <%
               if (title=="vendor_review") {
                 console.log("This is the vendor review page.");
            %>
               <div>
                 
              
                <form action="/invoice_input" method="POST">
                      <div class="input-group">
                        Invoice Number:
                        <input type="text" name="inv_num" class="form-control" placeholder="User name">                         
                      </div>
                      <div class="input-group">
                        Invoice Date:
                        <input type="text" name="inv_date" class="form-control" placeholder="Password">
                        <span class="input-group-btn"><button class="btn btn-success">Next invoice</button></span>
                                                             
                                                             
                                              
                      </div>                                                                                 
                    </form> 
                </div> 
            <%  
               }
              if(userData != null && userData.length!=0){
                console.log("there is data in userData, num records: "+userData.length);
                userData.forEach(function(invoices){
                  console.log(invoices.invoice_no);
                  inv_num = invoices.invoice_no;
                  inv_date = invoices.invoice_date;
                
             %>
              

                <h1 class="page-header">
                    Accounting System
                    <small>A simple nodeJS accounting system</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    <a href="">Invoice Date: <%=inv_date%></a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Invoice number: <%=inv_num%></a>
                </p>
                  <%=invoices.invoice_id%>
                <hr>
              
              
                <hr>
                
                <a class="btn btn-primary" href="">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>

                
                

           
              <%  });} else { %> <br><br><br>
              
              <h1><div class="alert alert-danger">Home Page</div></h1> <%
            
          } %>
          </div>
            <%- include("partials/side_bar") %>

        <hr>

        <!-- Footer -->
        <%- include("partials/footer") %>

      <!-- include the Glitch button to show what the webpage is about and
            to make it easier for folks to view source and remix -->
      <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
      <script src="https://button.glitch.me/button.js"></script>

    
